<div class="fnpc-headline">
  <span class="fnpc-pull-left"><img src="../../assets/images/carat-l-white.svg"></span>
  Rangliste
  <span class="fnpc-pull-right"><img src="../../assets/images/carat-r-white.svg"></span>
</div>
<div class="fnpc-content">
  <div [ngClass]="{'fnpc-profile': true, 'active': player.name == globalVars.selectedPlayer}" *ngFor="let player of players | async" (click)="setPlayer( player.name )">
    <div class="fnpc-profile-avatar">
      <img src="../../assets/images/home-black.svg">
    </div>
    <div class="fnpc-profile-head">
      <strong>{{player.name}}</strong>
      <span class="fnpc-pull-right"><strong>Totalscore €</strong></span>
    </div>
    <div class="fnpc-profile-rebuy">rebuy</div>
  </div>
</div>
<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" mat-button (click)="openDialog()"><img src="../../assets/images/plus-white.svg"></a>
  <a class="fnpc-menu-item" mat-button (click)="openDatepicker()"><img src="../../assets/images/calendar-white.svg"></a>
  <!--a class="fnpc-menu-item"><img src="../../assets/images/bars-white.svg"></a-->
  <a class="fnpc-menu-item"><strong>Alle</strong></a>
  <input type="hidden" [matDatepicker]="picker" [(ngModel)]="matchdayDate" (dateChange)="onDateChange($event)">
</div>
<mat-datepicker touchUi="true" #picker></mat-datepicker>

