<div class="fnpc-headline">
  <span class="fnpc-pull-left"><img src="../../assets/images/carat-l-white.svg"></span>
  Spieltag
  <span class="fnpc-pull-right"><img src="../../assets/images/carat-r-white.svg"></span>
</div>
<div class="fnpc-content">
  <div class="fnpc-profile" *ngFor="let score of scores | async; let i = index">
    <div class="fnpc-profile-avatar">
      <img src="../../assets/images/home-black.svg">
    </div>
    <div class="fnpc-profile-head" (click)="getScore( score.data.player, score.id )">
      <strong>#{{i + 1}} {{score.data.player}}</strong>
      <span class="fnpc-pull-right"><strong>{{ score.data.value - score.data.buyin}} €</strong></span>
    </div>
    <div class="fnpc-profile-rebuy">BuyIn: {{score.data.buyin}} € | Chips: {{score.data.value}} € </div>
  </div>
</div>


<div class="fnpc-menu-bottom">
    <a class="fnpc-menu-item" mat-button (click)="openScoreDialog()"><img src="../../assets/images/recycle-white.svg"></a>
    <a class="fnpc-menu-item"><img src="../../assets/images/info-white.svg"></a>
    <a class="fnpc-menu-item"><img src="../../assets/images/star-white.svg"></a>
    <a class="fnpc-menu-item"><img src="../../assets/images/edit-white.svg"></a>
    <!--a class="fnpc-menu-item"><img src="../../assets/images/mail-white.svg"></a-->
</div>
