<div>
  <ul class="poker-toolbar">
    <li class="poker-toolbar-item" routerLink="/matchday"><img src="./assets/images/calendar-black.svg"/></li>
    <li class="poker-toolbar-item" routerLink="/scoretable"><img src="./assets/images/bullets-black.svg"/></li>
    <li class="poker-toolbar-item" routerLink="/articles"><img src="./assets/images/edit-black.svg"/></li>
    <li class="poker-toolbar-item right" routerLink="/home"><img src="./assets/images/home-black.svg"/></li>
  </ul>
</div>
<router-outlet></router-outlet>
