<div class="fnpc-headline">Berichte</div>
<div class="fnpc-content fnpc-article-table">
  <div>
    <div class="fnpc-article">
      <div class="fnpc-article-headline">
        <strong>Datum bei Spieler</strong>
        <span class="fnpc-pull-right"><i>Von Spieler</i></span>
      </div>
      <div class="fnpc-article-content">aöfjaölsf adskljfasdf asffaösldfj asdöfjasdlöfjasd lökjfsöldjfkasdhgfjhs dfgasdö fweiurz  rweifd jadsöfj asdfasdjhfasorf bfasdbfasdkjfashdkl fasd</div>
    </div>
  </div>
</div>
