<div class="fnpc-headline">

  <div class="fnpc-headline-item-middle">HOME</div>

</div>
<div class="fnpc-content">
  <div *ngFor="let player of players | async">
    <div >
      {{player.data.totalscore}}
    </div>
  </div>
</div>


<div class="fnpc-menu-bottom">
  <a class="fnpc-menu-item" mat-button><img src="../../assets/images/recycle-white.svg"></a>
  <a class="fnpc-menu-item" mat-button><img src="../../assets/images/plus-white.svg"></a>
  <a class="fnpc-menu-item"><img src="../../assets/images/info-white.svg"></a>
  <!--a class="fnpc-menu-item" mat-button (click)="openMatchdayDialog()" ><img src="../../assets/images/star-white.svg"></a-->
  <!--a class="fnpc-menu-item"><img src="../../assets/images/edit-white.svg"></a-->
  <!--a class="fnpc-menu-item"><img src="../../assets/images/mail-white.svg"></a-->
</div>
