<div class="fnpc-dialog-headline">Neuer Spieltag</div>
<mat-dialog-content>
  <div class="fnpc-table">

    <div class="fnpc-table-row">
      <div class="fnpc-table-cell">Wo?</div>
      <div class="fnpc-table-cell"><input cdkFocusInitial type="text" [(ngModel)]="matchdayVenue"/></div>
    </div>
    <div class="fnpc-table-row">
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      </mat-form-field>
      <button mat-raised-button (click)="picker.open()">Open</button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="true" (click)="insertScore()">Spieler anlegen</button>
  <button mat-button [mat-dialog-close]="true" (click)="deleteScore()">Löschen</button>
  <button mat-button [mat-dialog-close]="true">Abbrechen</button>
</mat-dialog-actions>
